# .github/workflows/deploy.yml

name: Build and Deploy to VPS

on:
  push:
    branches:
      - master  # Atau 'main' jika itu adalah branch utama Anda
    paths-ignore:
      - 'README.md'
      - 'docs/**'

jobs:
  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest

    steps:
      - name: 1. Checkout Code
        uses: actions/checkout@v4

      - name: 2. Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: 3. Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: 4. Make gradlew executable
        run: chmod +x ./gradlew

      - name: 5. Build ComposeApp for WasmJs
        run: ./gradlew clean :composeApp:wasmJsBrowserDistribution

      - name: 6. Deploy to VPS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "composeApp/build/dist/wasmJs/productionExecutable/*"
          target: "/var/www/kryptography" # <-- GANTI DENGAN PATH DI VPS ANDA
          strip_components: 5
